* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
header, h1, p, main, section, h2, h3, iframe, h4 {
    margin: 2rem auto 5rem;
}

body {
    background-color: #ebe6e6;
    font-family: 'Segoe UI', sans-serif;
}
header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    gap: 3rem;
    top: 0;
    margin: 0;
    width: 100%;
    background-color: #ebe6e6;
    color: black;
    padding: 2rem 2rem;
    z-index: 100;
}
header ul {
    display: flex;
    flex-direction: row;
    gap: 2rem;
    list-style: none;
    margin-right: 2rem;
}
header ul li a {
    text-decoration: none;
    font-weight: bold;
    color: black;
}
header ul li a:hover {
    background-color: black;
    color: white;
    padding: 0.005rem 0.1rem;
}
header ul li a:active {
    background-color: green;
}
header i {
    font-size: 2rem;
    color: black;
}
#header-section {
    margin-top: 7rem;
    background-color: black;
    border-color: gray;
    border-width: 1rem;
    border-style: outset;
    color: white;
}
.header-description a {
    color: green;
}
#explanation {
    text-align: center;
}
h1, .header-description {
    text-align: center;
}
h3 {
    text-decoration: underline;
}
h2, h3 {
    text-align: center;
}
#html-and-css {
    display: flex;
    gap: 2rem;
    flex-wrap: wrap;
}
#git-and-github {
    display: flex;
    gap: 2rem;
    flex-wrap: wrap;
}
#javascript {
    border: 0.5rem black solid;
    margin: 6rem auto;
    background-color: white;
    display: flex;
    gap: 2rem;
    flex-wrap: wrap;
}
#git-and-github .template-section {
    margin-bottom: 0;
}
.codes {
    border-radius: 2rem;
    background-color: white;
    color: black;
    margin: 4rem 0.5rem 0;
    padding: 0.5rem;
    border: 1rem black solid;
}
.codes::selection {
    background-color: #011d01;
    color: white;
}
#git-and-github .template-section .codes p{
    margin: 0.5rem;
}
iframe {
    max-width: 95%;
}
iframe:hover {
    border: 0.2rem black solid;
}
.videos {
    display: flex;
    justify-content: space-around;
    gap: 2rem;
    text-align: center;
    padding: 0 0.5rem;
    flex-wrap: wrap;
}
#contact-information {
    background-color: black;
    margin: 1.5rem;
    border: 0.5rem gray solid;
    padding: 2rem;
}
#contact-information legend {
    color: white;
    text-align: center;
    font-size: x-large;
    font-weight: 700;
    padding-top: 0.3rem;
    padding-bottom: 1rem;
}
label {
    color: white;
    display: block;
    font-size: larger;
    padding: 0.5rem;
}
#contact-information input {
    width: 80%;
    height: 2.5rem;
    padding: 0.5rem;
}
.simple-note-from-marvy {
    margin: 1rem 3rem;
    font-weight: bold;
}
textarea {
    width: 100%;
    padding: 0.5rem;
}
#submit-form {
    align-self: center;
    padding: 1rem;
    border: 0.3rem solid gray;
}
#submit-form:hover {
    border: 0.05rem solid black;
}
input:hover {
    border: 0.05rem solid black;
}
textarea:hover {
    padding: 0.05rem solid black;
}
footer {
    width: 100%;
    height: 4rem;
    text-align: center;
}
#footer-note {
    color: white;
    margin: 1.5rem auto 0;
}